@import "../variables/variables";
@import "../mixins/mixin-section";

.mp-products {
  @include section-variant($color-grey-lighter);

  &__card {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: $space-base;

    &-title {
      font-size: $h3-font-size;
      font-family: $font-montserrat-bold;
      padding: $space-base 0;
    }

    &-text {
      font-size: $font-size-medium;
      font-family: $font-opensans-regular;
      color: $color-grey;
    }

    &-list {
      padding-top: $space-base-triple;
      margin: -$space-base;

      // For desktop.
      @media (min-width: $screen-md) {
        display: flex;
        justify-content: center;
      }
    }

    &-body {
      flex: 1;
      padding-bottom: $space-base;
    }
  }

}

