*,
*::before,
*::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}

html {
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

a {
  color: currentColor;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
