@import 'variables/variables';

.md-section {

  &__container {
    width: $screen-lg;
    margin: 0 auto;
  }

  &--gray {
    background-color: $color-grey-lighter;
  }
}

[class*='md-section'] {
  padding: $space-big $space-base;
  text-align: center;
}
