@import 'variables-color';

/*
* Fonts.
*/
$font-roboto-bold: 'Roboto-Bold', Arial, sans-serif;
$font-roboto-regular: 'Roboto-Regular', Arial, sans-serif;

$font-montserrat-bold: 'Montserrat-Bold', Arial, sans-serif;
$font-montserrat-regular: 'Montserrat-Regular', Arial, sans-serif;

$font-opensans-bold: 'OpenSans-Bold', Arial, sans-serif;
$font-opensans-regular: 'OpenSans-Regular', Arial, sans-serif;

/*
* Screens
*/
$screen-xs: 460px;
$screen-md: 960px;

/*
* Spaces.
*/
$space-base: 16px;
$space-base-half: $space-base/2;
$space-base-double: $space-base*2;
$space-base-triple: $space-base*3;

/*
* Fonts.
*/
$font-size-largest: 60px;
$font-size-large: 20px;
$font-size-base: 16px;
$font-size-small: 12px;

/*
* Body.
*/
$body-font-family: $font-opensans-regular;
$body-font-size: $font-size-large;
$body-line-height: 1.4;


/*
* Animations.
*/
$transition-base: .27s ease-in-out;


/*
* Scrollbar.
*/
$scrollbar-size: 8px;

/*
* Buttons.
*/
$button-primary-sm: 36px;
$button-primary-md: 46px;
$button-primary-lg: 58px;

$bt-primary-sm-text: 14px;
$bt-primary-md-text: 14px;
$bt-primary-lg-text: 16px;




