$color-white: #fff;
$color-grey-lighter: #f4f4f4;
$color-grey-light: #bbb;
$color-grey: #999;
$color-grey-dark: #666;
$color-grey-darker: #333;
$color-primary: #FBB034;
$color-primary-dark: #e7a230;
$color-blue: #363f48;

/*
* Body.
*/
$body-color: $color-grey-darker;
$body-bg: $color-white;


