@import '../variables/variables';
@import "./mixin-container";

@mixin section-variant($bg-color) {
  background-color: $bg-color;
  padding: $section-spaces;
  text-align: center;

  &__container {
    @include container;
  }

  &__subtitle {
    color: $color-primary;
    text-transform: uppercase;
    font-family: $font-opensans-bold;
  }

  &__title {
    font-size: $font-size-larger;
    font-family: $font-montserrat-bold;
    line-height: 1.4;
    padding: $space-base 0;
  }

  &__description {
    color: $color-grey-dark;
  }
}
